@model MVCFirstProject.Models.Employee

@{
    ViewBag.Title = "EmployeeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.EmployeeId</h2>
<h2>@Model.EmployeeLocation</h2>
<h2>@Model.EmployeeName</h2>


